<div nv-file-drop uploader="uploader">
  <h1 class="page-header" ng-hide="edit">Ajouter un album</h1>
  <h1 class="page-header" ng-show="edit">Modifier un album</h1>

  <h2 ng-show="loadingError"><small>Impossible de contacter le serveur.</small></h2>
  <img src="img/loading.gif" alt="" class="center-block" ng-show="loading" />

  <form novalidate class="form-horizontal" name="form" ng-hide="loadingError || loading">
    <div class="form-group" ng-class="{'has-error': !(form.title.$valid || form.title.$pristine)}">
      <label for="inputTitle" class="col-sm-2 control-label">Titre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Titre" ng-minlength="3"
        ng-model="album.title" ng-required="true" autocomplete="off" />
        <span class="help-block" ng-show="!(form.title.$valid || form.title.$pristine)">
          Le titre doit comporter au moins trois lettres.
        </span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': form.desc.$invalid}">
      <label for="inputDesc" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="inputDesc" rows="3" placeholder="Description" ng-model="album.description"
        name="desc" ng-maxlength="4000">
        </textarea>
        <span class="help-block" ng-show="form.desc.$invalid">
          La description ne doit pas excéder 4000 caractères.
        </span>
      </div>
    </div>
    <author-picker users="users" model="album.authors"></author-picker>
    <div class="form-group" ng-class="{'has-error': form.date.$invalid}">
      <label for="date" class="col-sm-2 control-label">Date</label>
      <div class="col-sm-10">
        <div class="form-inline">
          <div class="input-group">
            <input name="date" type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="album.date"
            is-open="isCalendarOpen" close-text="Fermer" current-text="Aujourd'hui" ng-required="true"
            clear-text="Annuler" max-date="today" starting-day="1" autocomplete="off" />
            <span class="input-group-addon">
              <a href="" ng-click="isCalendarOpen = !isCalendarOpen"><i class="glyphicon glyphicon-calendar"></i></a>
            </span>
          </div>
        </div>
        <span class="help-block" ng-show="form.date.$invalid">
          Veuillez entrer une date valide.
        </span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': noPhotoError}">
      <label class="col-sm-2 control-label">
        <span ng-hide="edit">Photos</span>
        <span ng-show="edit">Ajouter des photos</span>
      </label>
      <div class="col-sm-10 file-container">
        <input type="file" nv-file-select="" uploader="uploader" multiple style="margin-bottom:10px;" />
        <span class="help-block" ng-show="noPhotoError">
          Veuillez ajouter au moins une photo à l'album.
        </span>
        <div class="row hidden-xs">
          <div class="col-sm-4"><strong>Nom</strong></div>
          <div class="col-sm-2"><strong>Taille <span ng-show="totalSize != 0">
            ({{ totalSize/1024/1024|number:2 }} MB)
          </span></strong></div>
          <div class="col-sm-2"><strong>Progrès</strong></div>
          <div class="col-sm-2"><strong>Statut</strong></div>
        </div>
        <hr class="hidden-xs">

        <div ng-repeat="item in uploader.queue">
          <div class="row margin-top-small">
            <div class="col-sm-4 margin-top-small">
              <strong>{{ item.file.name }}</strong>
              <div photo-preview="{ file: item._file }"></div>
            </div>
            <div class="col-sm-2 margin-top-small">
              {{ item.file.size/1024/1024|number:2 }} MB
            </div>
            <div class="col-sm-2 margin-top-small">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar progress-bar-striped" role="progressbar"
                ng-style="{ 'width': item.progress + '%' }"></div>
              </div>
            </div>
            <div class="col-sm-2 margin-top-small">
              <span ng-show="!(item.isSuccess || item.isCancel || item.isError)">
                <i class="glyphicon glyphicon-paperclip"></i>
              </span>
              <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </div>
            <div class="col-sm-2 margin-top-small">
              <button type="button" class="btn btn-danger btn-xs" ng-click="removeItem(item)">
                <span class="glyphicon glyphicon-trash"></span> Supprimer
              </button>
            </div>
          </div>
          <hr class="visible-xs">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div ng-show="uploader.queue.length > 0 && !uploadComplete">
          <h3>Progrès total</h3>
          <div class="progress" style="">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
            ng-style="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
        <div class="alert alert-success" role="alert" ng-show="uploadComplete">
          Envoi terminé.
          <a ui-sref="albumDetail({id: albumId, name: album.title})" href="" class="alert-link">Voir l'album</a>
        </div>
        <div class="alert alert-danger" role="alert" ng-show="sendError">
          Une erreur inattendue s'est produite ! Nous sommes désolés.
        </div>
        <button class="btn btn-default" ng-click="send()" ng-class="{disabled: sent}">
          <i class="glyphicon glyphicon-upload"></i> Envoyer
        </button>
      </div>
    </div>
  </form>
</div>
