<div nv-file-drop uploader="uploader">
  <h1 class="page-header">Ajouter un album</h1>

  <form novalidate class="form-horizontal" name="form">
    <div class="form-group" ng-class="{'has-error': !(form.title.$valid || form.title.$pristine)}">
      <label for="inputTitle" class="col-sm-2 control-label">Titre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Titre" ng-minlength="3"
        ng-model="title" ng-required="true" autocomplete="off" />
        <span class="help-block" ng-show="!(form.title.$valid || form.title.$pristine)">
          Le titre doit comporter au moins trois lettres.
        </span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': form.desc.$invalid}">
      <label for="inputDesc" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="inputDesc" rows="3" placeholder="Description" ng-model="description"
        name="desc" ng-maxlength="4000">
        </textarea>
        <span class="help-block" ng-show="form.desc.$invalid">
          La description ne doit pas excéder 4000 caractères.
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAuthors" class="col-sm-2 control-label">Co-auteurs</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" class="form-control" id="inputAuthors" placeholder="Entrez un nom"
          uib-typeahead="user.username for user in users | filter:{username:$viewValue} | limitTo:8" ng-model="author"
          typeahead-on-select="addAuthor($item)" typeahead-editable="false" autocomplete="off" />
          <div class="input-group-addon"><i class=" glyphicon glyphicon-plus"></i></div>
        </div>
        <ul class="list-group margin-top-small" ng-show="authors.length != 0">
          <li class="list-group-item delete-button-container" ng-repeat="user in authors">
            {{ user.username }}
            <a href="" ng-click="removeAuthor(user)">
              <span class="glyphicon glyphicon-trash delete-button"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': form.date.$invalid}">
      <label for="date" class="col-sm-2 control-label">Date</label>
      <div class="col-sm-10">
        <div class="form-inline">
          <div class="input-group">
            <input name="date" type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="date"
            is-open="isCalendarOpen" close-text="Fermer" current-text="Aujourd'hui" ng-required="true"
            clear-text="Annuler" max-date="today" autocomplete="off" />
            <span class="input-group-addon">
              <a href="" ng-click="openCalendar()"><i class="glyphicon glyphicon-calendar"></i></a>
            </span>
          </div>
        </div>
        <span class="help-block" ng-show="form.date.$invalid">
          Veuillez entrer une date valide.
        </span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': noPhotoError}">
      <label class="col-sm-2 control-label">Photos</label>
      <div class="col-sm-10">
        <input type="file" nv-file-select="" uploader="uploader" multiple style="margin-bottom:10px;" />
        <span class="help-block" ng-show="noPhotoError">
          Veuillez ajouter au moins une photo à l'album.
        </span>
        <div class="row hidden-xs">
          <div class="col-sm-4"><strong>Nom</strong></div>
          <div class="col-sm-2"><strong>Taille <span ng-show="totalSize != 0">
            ({{ totalSize/1024/1024|number:2 }} MB)
          </span></strong></div>
          <div class="col-sm-2"><strong>Progrès</strong></div>
          <div class="col-sm-2"><strong>Statut</strong></div>
        </div>
        <hr class="hidden-xs">

        <div ng-repeat="item in uploader.queue">
          <div class="row margin-top-small">
            <div class="col-sm-4 margin-top-small">
              <strong>{{ item.file.name }}</strong>
              <div photo-preview="{ file: item._file }"></div>
            </div>
            <div class="col-sm-2 margin-top-small">
              {{ item.file.size/1024/1024|number:2 }} MB
            </div>
            <div class="col-sm-2 margin-top-small">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar progress-bar-striped" role="progressbar"
                ng-style="{ 'width': item.progress + '%' }"></div>
              </div>
            </div>
            <div class="col-sm-2 margin-top-small">
              <span ng-show="!(item.isSuccess || item.isCancel || item.isError)">
                <i class="glyphicon glyphicon-paperclip"></i>
              </span>
              <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </div>
            <div class="col-sm-2 margin-top-small">
              <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Supprimer
              </button>
            </div>
          </div>
          <hr class="visible-xs">
        </div>

        <div ng-show="uploader.isUploading">
          <h3>Progrès total</h3>
          <div class="progress" style="">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
            ng-style="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default big-margin-bottom" ng-click="send()">
          <i class="glyphicon glyphicon-upload"></i> Envoyer
        </button>
      </div>
    </div>
  </form>
</div>
