<h1 class="page-header">{{ pageTitle }}</h1>
<div ng-repeat="album in albums">
  <div class="row">
    <div class="col-md-4">
      <table class="photo-frame">
        <tr>
          <td ng-show="{{ album.photos.length == 0 }}">
            <p>Cet album ne contient aucune photo.</p>
          </td>
          <td class="photo-frame-cell">
            <img http-src="{{ makeThumbnailUrl(album.photos[0].id) }}" alt="" class="img-rounded full-width"/>
          </td>
          <td class="photo-frame-cell">
            <img http-src="{{ makeThumbnailUrl(album.photos[1].id) }}" alt="" class="img-rounded full-width"/>
          </td>
        </tr>
        <tr>
          <td class="photo-frame-cell">
            <img http-src="{{ makeThumbnailUrl(album.photos[2].id) }}" alt="" class="img-rounded full-width"/>
          </td>
          <td class="photo-frame-cell">
            <img http-src="{{ makeThumbnailUrl(album.photos[3].id) }}" alt="" class="img-rounded full-width"/>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <h2><a ui-sref="albumDetail({id: album.id, name: album.title, album: album})">{{ album.title }}</a><br/>
        <small>Par {{ album.authors | authorList }}, {{ album.date | date: 'le dd.MM yyyy' }}</small>
      </h2>
      <p>{{ album.description }}</p>
    </div>
    <div class="col-md-4">
      <div class="comment-frame">
        <table class="table table-striped table-bordered no-margin-bottom">
          <th>Commentaires</th>
          <tr ng-repeat="comment in album.comments"><td>
            <h5>{{ comment.author.username }} <small>{{ comment.date | date : 'le dd.MM yyyy à hh:mm' }}</small></h5>
            <p>{{ comment.text }}</p>
          </td></tr>
        </table>
      </div>
      <comment-form album="album"></comment-form>
    </div>
  </div>
  <hr/>
</div>
<img src="img/loading.gif" alt="" class="center-block big-margin-bottom" ng-show="fetching" />
<h2 ng-show="message"><small>{{ message }}</small></h2>
