<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="photo-gallery" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Photo gallery</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="mainCtrl">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar-collapse-content" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home">Albums</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-content">
        <ul class="nav navbar-nav">
          <li><a href="#/upload"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Entrez un nom d'album" ng-model="term">
          </div>
          <button type="submit" class="btn btn-default" ng-click="search()">Chercher</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="isUploading()">
            <a href=""><img src="img/upload.gif"/> Envoi en cours ({{ getUploadProgressText() }})</a>
          </li>
          <li ng-show="user == null">
            <a ui-sref="login">
              <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Connexion
            </a>
          </li>
          <li class="dropdown" ng-hide="user == null">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> {{ user.username }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a ui-sref="account">Mon compte</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="" ng-click="logout()">Déconnexion</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container" ui-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="lib/jquery-mobile-events.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-file-upload/dist/angular-file-upload.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="config.js"></script>
  <script src="app.js"></script>
  <script src="homeView/homeView.js"></script>
  <script src="albumView/albumView.js"></script>
  <script src="loginView/loginView.js"></script>
  <script src="accountView/accountView.js"></script>
  <script src="uploadView/uploadView.js"></script>
  <script src="searchView/searchView.js"></script>
  <script src="factories/userFactory.js"></script>
  <script src="factories/albumFactory.js"></script>
  <script src="directives/httpSrc.js"></script>
  <script src="directives/commentForm.js"></script>
  <script src="directives/photoDetail.js"></script>
  <script src="directives/thumbnailContainer.js"></script>
  <script src="directives/authorPicker.js"></script>
  <script src="filters/authorList.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
