<div class="overlay" id="overlay" ng-show="photo">

  <div class="top-bar" id="topBar" ng-show="showBar">
    <span class="bar-icon glyphicon glyphicon-remove clickable" ng-click="close()"></span>
    <span class="bar-icon glyphicon glyphicon-download clickable" ng-click="downloadPhoto()"></span>
    <span class="bar-icon glyphicon glyphicon-trash clickable" ng-click="delete()"></span>
  </div>

  <div class="arrow-left" ng-show="showBar">
    <span class="arrow-icon glyphicon glyphicon-chevron-left clickable" ng-click="previousPhoto()"></span>
  </div>

  <div class="arrow-right" ng-show="showBar">
    <span class="arrow-icon glyphicon glyphicon-chevron-right clickable" ng-click="nextPhoto()"></span>
  </div>

  <img src="img/loading.gif" alt="" class="overlay-img no-select" ng-show="loading" />

  <img http-src="{{ makeUrl({id: photo.id}) }}" alt="" class="overlay-img no-select"
  id="detailedPhoto" ng-hide="loading" />
</div>
