<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Plus d'actions</h3>
</div>
<div class="modal-body" id="modal-body">
  <div>
    <button class="btn btn-primary" ng-click="$ctrl.downloadPhoto()">
      Télécharger <span class="glyphicon glyphicon-download"></span>
    </button>
    <button class="btn btn-danger" ng-show="$ctrl.canDelete" ng-click="$ctrl.delete()">
      Supprimer <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Annuler</button>
</div>
